
		Current User Here:  <%= @user_id %><br>
		List of User Votes Here:  <%= @answered_questions %><br>
		<!-- Current User ID Here:  <%#= current_user.id %><br> -->


	  	<% @all_questions.reverse.each do |q| %>

	  		<span class='questionTitle'><a href='/questions/<%= q.id %>'><strong><%= q.content %></strong></a></span><br>
	  		<span class='time'>Asked about <%= time_ago_in_words(q.created_at) %> ago</span><br><br>

			<ul>
				<% q.question_options.each do |o| %>
				<li>
					<span class='option'><%= o.option %></span>

					<%= link_to upvote_path(o), method: :put do %>
							<button type="button" class="btn btn-info pull-right" aria-label="Left Align">
					        <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
							</button>
					<% end %> 

				</li><br>

				<% end %>
			</ul><hr>
		<% end %>