
	  	<% @all_questions.reverse.each do |q| %>

	  		<span><a href='/questions/<%= q.id %>' class='questionTitle'><strong><%= q.content %></strong></a></span><br>

	  		<span class='time'>Asked about <%= time_ago_in_words(q.created_at) %> ago</span><br>

	  			<div class="row">
	  				<div class="col-md-8">
						<ul>
							<% q.question_options.each do |o| %>
							<li class='option'>
								<span class='option'><%= o.option %></span>

								<% end %>	
							</li>
						</ul>
					</div>
					<div class='col-md-4'>
						<%= button_to('Sign In to Vote!', sessions_path, :class => 'btn btn-large color-scheme-A thumb pull-right sign-in')  %><br>
					</div>	
				</div>
					<hr>

			<% end %>